@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(/fonts/RobotoMono-Regular.ttf) format('truetype');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Dark Mode */
  --color-dark: #292929;
  --color-dark-shadow: #383838;
  --color-dark-shadow-hover: #2f2f2f;
  --color-dark-primary: #7c99b4;
  --color-dark-primary-hover: #506d88;
  --color-dark-secondary: #697d5d;
  --color-dark-tertiary: #6d545d;

  /* Light Mode */
  --color-light: #efefef;
  --color-light-shadow: #e2e2e2;
  --color-light-shadow-hover: #d8d8d8;
  --color-light-primary: #6085a7;
  --color-light-primary-hover: #81a8cc;
  --color-light-secondary: #5b6e50;
  --color-light-tertiary: #6e243f;

  /* Font */
  --font-roboto: 'Roboto Mono';

  /* Sizes */
  --spacing-2xs: calc(var(--spacing) * 1); /* 4 */
  --spacing-xs: calc(var(--spacing) * 2); /* 8 */
  --spacing-sm: calc(var(--spacing) * 3); /* 12 */
  --spacing-md: calc(var(--spacing) * 6); /* 24 */
  --spacing-lg: calc(var(--spacing) * 12); /* 48 */
  --spacing-xl: calc(var(--spacing) * 18); /* 72 */
  --spacing-2xl: calc(var(--spacing) * 24); /* 128 */

  /* Text */
  --text-2xs: calc(var(--spacing) * 1); /* 4 */
  --text-xs: calc(var(--spacing) * 2); /* 8 */
  --text-sm: calc(var(--spacing) * 3); /* 12 */
  --text-md: calc(var(--spacing) * 6); /* 24 */
  --text-lg: calc(var(--spacing) * 12); /* 48 */
  --text-xl: calc(var(--spacing) * 18); /* 72 */
  --text-2xl: calc(var(--spacing) * 24); /* 128 */
}

.theme-inverse {
  fill: var(--color-white);
}
.theme-inverse:where(.dark, .dark *) {
  fill: var(--color-black);
}
